.cart-items {
  .item-thumbnail {
    img {
      width: 100%;
    }
  }
}

#list_cart_nav {
  .main_container {
    height: calc(100% - 165px);
    overflow: auto;
  }
  .btn-payment {
    width: 100%;
  }
  .btn-promotion-submit {
    border-radius: 5px;
    color: $color-bg;
    padding: 0 $pd-sm;
    width: auto;
    &.has-promotion {
      background-color: $color-bg;
      border: 1px solid $color-success;
    }
  }
  .cart-total-price {
    color: $color-info;
  }
  .quantity-options {
    span {
      width: 28px;
      text-align: center;
    }
    .quantiy-action {
      border-radius: 50%;
      color: #ffffff;
      &.quantity-minus {
        background: #bdbdbd;
      }
      &.quantity-add {
        background: $color-info;
      }
    }
  }
}
