$top-space: 44px;
#left_menu_nav {
    margin-top: 66px;
    background: transparent;
    display: inline-block;
    .menu-label {
        position: relative;
        padding: $pd-sm 0px 0px $pd-xs;
        color: #5b5b5b;
        font-size: $font-md;
        margin-bottom: $pd-sm;
        .nav-close {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .menu-left-nav {
        height: calc(100% - 43px);
        overflow-y: auto;
        width: 50%;
        background: $color-bg;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        float: left;
        display: flex;
        flex-direction: column;

        .menu-left-item:last-child{
            padding-right: 0;
        } 
        .menu-left-item {
            padding: 12px 0px 12px 15px;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            img {
                width: 20px;
            }
            span {
                color: #333333;
                margin-left: 16px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        a{
            display: inline-block;
            text-decoration: none;
        }
    }
    .menu-category {
        position: absolute;
        left: 50%;
        top: 73px;
        background: $color-bg;
        line-height: 2.8;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        li {
            cursor: pointer;
            padding: 0 $pd-md;
            span {
                color: #5b5b5b;
            }
        }
    }
    .empty-space {
        float: left;
        width: 50%;
        height: 100%;
    }
}

@media (max-width: 320px) {
   
    .group-buttons .button-r img{
        width: 14px !important;
    }
    .group-buttons .button-r span,
    .group-buttons .button-l span {
        font-size: 14px !important;
    }
    .header-search{
        font-size: 10px !important;
    }
    .shop-item.cart {
        padding: 0 10px !important;
    }
    .main-container_Popup{
        padding: 0 !important;
    }
    .txt-style{
        font-size: 9px;
    }
    .dialog .main-container_Popup{
        margin: 0 5px !important;
    }
    .style-title span:nth-child(2){
        padding: 5px 5px !important;
    }
    .shop-header .header-search .app-search .app-input {
        width: 82%;
    }
    // .btn-button{
    //     font-size: 11px !important;
    // }
    .code{
        font-size: 11px;
    }
    .basic-form .form-group .information .newstyle{
        width: 70%;
    }
    .basic-form .form-group .information .newstyle:nth-child(2) {
        width: 30%;
        padding-left: 0;
    }
    .confirm-swal img{
        width: 65px;
    }
    .confirm-swal p{
        font-size: 9px !important;
    }
    .confirm-swal h3{
        font-size: 11px !important;
    }
    .style-product .shop-item.cart .item-info span {
        font-size: 10px !important;
    }

    .style-for-cart .oder-item .oder-container .shop-item .item-thumbnail {
        width: 35% !important;
    }

    .basic-form .form-group .shipping span{
        font-size: 11px;
    }
    .btn-discount {
        font-size: 11px;
    }
    #left_menu_nav {
        .menu-left-nav {
            .menu-left-item {
                span {font-size: 7px !important;}
            }
        }
    }
    .horizontal-wrapper .horizontal-header .header-left{
        font-size: 12px;
    }
    .horizontal-wrapper .horizontal-header .header-right{
        font-size: 10px;
    }
    .container .Note-Details .Note-Details-titles {
        font-size: 10px !important;
    }
    .container .Note-Details .Minimum-Order {
        font-size: 10px !important;
    }
    .container .Note-Details .Product-Details {
        font-size: 11px !important;
    }
    .Offer-promotion img{
        width: 80px !important;
        height: 80px !important;
        padding-right: 10px !important;
    }
    .expiry-promotion,
    .Minimum-Order{
        font-size: 10px !important;
    }
    .code-promotion{
        font-size: 15px !important;
    }
    .use-promotion{
        span{
            font-size: 9px !important;
        }
    }
}

.Offer-promotion img{
    width: 80px;
    height: 80px;
}


@media (max-width: 420px) {
    .cart-total{
        div:nth-child(3){
            div  {
                font-size: 15px;
            }
        }
    }

    .cart-total .row:nth-child(1) .col-6:nth-child(3){
        padding: 5px 0px 5px 10px !important;
    }

    .row .col-6{
        font-size: 12px;
        padding: 5px 10px !important;
    }
 
    .container::-webkit-scrollbar{
        display: none;
    }
    .style-product .shop-item.cart .item-info span{
        font-size: 12px;
    }
    .day-shipping{
        font-size: 9px !important;
    }
    .Offer-promotion{
        img{
            width: 80px;
            height: 80px;
        }
    }
    
    .btn-Oder-list button{
        font-size: 13px;
    }
    .style-item {
        width: 115px !important;
    }
   
    .quantity-options span{
        width: 25px !important;
        height: 25px !important;
    }
    .col-2{
        img{
            width: 15px !important;
        }
    }
    .header-search{
        font-size: 12px;
    }
    .item-percentage {
        padding: 0 !important;
    }
    .use-promotion{
        span{
            font-size: 10px ;
        }
    }

    .radio label{
        width: 16px !important;
        height: 16px !important;
        margin-right: 15px !important;
    }
    
    .radio{
        margin-bottom: 10px !important;
    }

    .cancel-swal .radio input:checked + label::after{
        width: 10px !important;
        height: 10px  !important;
        top : 3px  !important;
        left: 3px  !important;
    }
    .radio span{
        font-size: 13px;
    }
}

@media (max-height: 700px) {
    .fix-style{
        position:inherit;
        }

}

@media(max-width: 600px){
      .main_container .news-style-cart::-webkit-scrollbar{
          display: none;
      }
      .menu-left-item span{
          font-size: 10px !important;
      }
}
@media(min-width : 700px){
    .shop-item.cart .item-thumbnail {
        width: 13% !important;
    }
    .main-container_Popup{
        width: 365px  !important;
    }
   
    .btn-Oder-list {
        justify-content: center;
    }
    .group-buttons .button-l button,
    .group-buttons .button-r button{
        font-size: 25px !important;
        img{
            width: 40px !important;
        }
    }
    .container .Note-Details .Note-Details-titles{
        font-size: 16px !important;
    }
    .span-element {
        font-size: 24px;
    }
    .container .Note-Details .Product-Details{
        font-size: 18px !important;
    }
}


@media(max-width:450px){
    .container .Offer-Details > img {
        width: 80px !important;
        height: 80px !important;
    }
}
@media(max-width:770px){
    
    .quantity-options{
        padding-top: 0px;
        span{
            width: 25px !important;
            height: 25px !important;
        }
    }

}
@media(max-width:550px){
    .style-for-cart .oder-item .oder-container .shop-item .item-thumbnail {
        width: 30%;
    }
  
}

@media(max-width:380px){
    .style-for-cart .oder-item .oder-container .shop-item .item-thumbnail {
        width: 32%;
    }
    .style-for-cart .oder-item .oder-container .shop-item .item-info {
        width: 60%;
    }
   
    .list-cart .shop-item .item-thumbnail{
        width: 40% !important;
    }
    }

    @media (max-width: 376px) {
      
        .button-right{
            span{
                font-size: 14px;
            }
        }
}

@media (max-width:280px){

    .group-buttons .button-r img{
        width: 11px !important;
    }
    .group-buttons .button-r span,
    .group-buttons .button-l span {
        font-size: 11px !important;
    }
    .danger-popup{
        padding-left: 10px;
    }
    .Offer-title p{
        font-size: 12px !important;
    }
    .app-search{
        padding-left: 10px !important;
    }
    .header-search{
        font-size: 11px;
    }
    .header-home{
        padding: 15px 5px 15px 15px !important;
    }
    .style-title {
        align-items: center !important;
    }
    .cancel-title p {
        font-size: 15px;
    }
   
    .shop-header .header-search .app-search .app-input {
        width: 80%;
    }
    .btn-button{
        font-size: .6em !important;
    }
    .expiry-promotion,
    .Minimum-Order{
        font-size: 9px !important;
    }
    .code-promotion{
        font-size: 14px !important;
    }
    .Offer-promotion img{
        width: 90px !important;
        height: 90px !important;
        padding-right: 10px !important;
    }
    .is_default{
        p{
            width: 60%;
        }
        span{
            width: 40%;
        }
    }
    .cart-total .row:nth-child(2) .col-6:nth-child(3),
    .cart-total .row:nth-child(2) .col-6:nth-child(1){
        padding: 5px 0px 5px 10px !important;
    }
    .cart-total .row:nth-child(2) .col-6:nth-child(2){
        display: flex;
        align-items: center;
    }


    .shop-item.alt .item-description p{
        font-size: 10px !important;
    }
    .shop-item.alt .item-description label{
        font-size: 13px !important;
    }
    .group-buttons .button-r button{
        font-size: 3.5vw !important;
    }
    .item-thumbnail > img {
        width: 90px !important;
        height: 75px;
    }
    .style-product .shop-item.cart .item-info span {
        font-size: 9px !important;
    }
    .shop-item .item-info .item-name{
        font-size: 10px !important;
    }
    .current-price{
        font-size: 13px !important;
        padding: 0 !important;
    }
    .shop-item .item-info .item-discount .item-old-price{
        font-size: 10px !important;
    }
    #list_cart_nav .quantity-options span{
        width: 20px !important;
        height: 20px !important;
    }
    .item-discount{
        margin: 0 !important;
    }
    .shop-item.cart{
        margin-bottom: 10px;
    }
}
.item-quantity{
    div:nth-child(2){
        img{
            width: 20px;
        }
    }
  
}

@media(min-width: 1920px){
    .basic-form .form-group .information .newstyle{
        width: 95%;
    }
    .basic-form .form-group .information .newstyle:nth-child(2) {
        width: 5%;
    }
}

.strong-reason{
    color: #f40000;
    font-weight: 500;
}


@media(max-width: 540px){
    .dialog .main-container_Popup{
        width: 365px !important;
    }
}

// .row .col-6:nth-child(3){
//     padding: 0;
//     padding-left: 15px;
// }