.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:active, &:focus {
        border: none;
        outline: none;
    }
    &.btn-loader {
        position: relative;
        opacity: 0.65;
        cursor: progress;
        &::after {
            content: "";
            display: block;
            border: 3px solid $color-bg;
            border-radius: 50%;
            border-top: 3px solid $color-primary;
            width: 15px;
            height: 15px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            margin: 0 auto;
            float: left;
            margin-right: 5px;
        }
    }
}

.btn-primary {
    @include btn-style();
    @include background($color-primary)
}

.btn-success {
    @include btn-style();
    background-color: #f40000;

}

.btn-danger {
    @include btn-style();
    background-color: #ffdada;

}

.btn-default {
    padding: 10px;
    width: 100%;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-with-icon {
    position: relative;
    padding: $pd-md 15px;
    .material-icons {
        position: absolute;
        top: 25px;
        color: #ffffff;
        left: 25px;
    }
    &.right-icon {
        .material-icons {
            right: 25px;
            left: unset;
        }
    }
}